---
layout: front
---
<div class="jumbotron-blue">
  <div class="container">
      <div class="row">
          <div class="col-9"> <img src="/imgs/icisq.png" alt="ICI logo" class="float-left" style="padding-right:2em;">
            <h1 class="display-3">ICI CONSULTING </h1>
            <h3>Decades of problem-solving experience.</h3>
            <div class="clearfix"></div>
            <br>
            <p class="lead">The Institute for Community Inclusion, or ICI, is nationally recognized for our research, technical
              assistance, training, and project development in the field of disability. Through ICI Consulting Services, you
              can access the full breadth and scope of our expertise. We tailor our resources to meet the needs of
              organizations like yours, so you can grow, thrive, and measure your progress.</p></div>
          <div class="col-3"><img src="/imgs/circut.png" class="align-middle img-fluid "></div>
        </div>
   <center>
    <p><b>Ready to get started?</b></p>
    <p>
        <a class="btn btn-light btn-lg" href="#contact" role="button" style="color: black">Let’s talk! &raquo;</a></p>
<p><b>Want more information?</b><br>
  <a href="#intro"><i class="fas fa-5x fa-angle-double-down"></i> </a>
</p>
</center>

  </div>
</div>
<section id="intro" class="bg-blue">
    <div class="container">
        <div class="row">
          <div class="col-md">
              <a href="#approach" class="card cardt">
                <div class="card-body">
                  <center>
                    <img src="/imgs/approach.png"  alt="">
          <h3>Our Approach</h3>
        </center>

                </div>    
        </a>
          </div>
          <div class="col-md">
              <a href="#expertise" class="card cardt">
                <div class="card-body">
                  <center>
                      <img src="/imgs/tools.png" alt="">
          <h3>Our Expertise</h3>
                  </center>
                </div>    
        </a>          </div>
          <div class="col-md">
              <a href="#experts" class="card cardt">
                <div class="card-body">
                  <center>
                      <img src="/imgs/juggle.png" alt="">

          <h3>Our Experts</h3>
                  </center>
                </div>    
        </a>          </div>
        </div>
      </div>
</section>

<div class="testy">
    <div class="mx-auto" style="max-width: 600px;">
    <blockquote><p>“ICI Consulting assisted my leadership team at a time when we really needed to develop a common vision and purpose. Senior Policy Fellow Russ Thelin’s facilitation of the conversation and planning was key in establishing that vision, identifying values, and bringing my team closer together. The resulting impact on my agency has been very positive and I would recommend ICI Consulting services to other agencies facing similar challenges.”</p>
      <img src="/imgs/RobHinesFeb2018.jpg" alt="Rob Hines" class="float-right" />

      <p>
    -Rob Hines, Director<br>
    Washington Division of Vocational Rehabilitation</p></blockquote>
    <p class="clearfix"></p>
    </div>
</div>

<section id="approach">
  <div class=" container" >
      <img src="/imgs/star_JC.svg" class="float-right" style="max-width:400px;">

  <h1>Our Approach</h1>
  <p>Our resources are tailored to ensure you fulfill your organization’s particular vision of meeting its mission. We’re here to help you grow, thrive, and measure your progress.</p>
 
<p><strong>Our consultation services help you:</strong></p>
<p><b>Challenge</b> the status quo. Together, we’ll look critically at your organizational vision, mission, policy, and practice; determine what’s hindering your progress; and figure out what needs to change to achieve the culture you envision. </p>
 
<p><b>Innovate</b> a plan for desired outcomes. With our expert insights, establish how you want things to look and be, and identify clear objectives and next steps.  </p>
  
<p><b>Empower</b> you to carry out the plan, using participatory leadership to guide the change process, delegate to others, and allow for innovation and problem solving at all levels.  </p>
 
<p><b>Encourage</b> full engagement, involving all staff members in staying the course and keeping the plan a priority. This includes building communication feedback loops, reinforcing efforts, and celebrating successes. </p>
  
<p><b>Assess</b> results by tracking outcomes, using both quantitative and qualitative methods, and using the insights gained to inform continuous improvement, identify your next challenge, and move on to even higher achievements.</p>

    </div>
    <p></p>
    <center>
        <h5 >Learn about our AREAS OF EXPERTISE</h5>
       
        <a href="#expertise"><i class="fas fa-5x fa-angle-double-down"></i> </a></center>
</section>

<div class="testy">
    <div class="mx-auto" style="max-width: 600px;">
    <blockquote><p>“The Institute for Community Inclusion’s expertise helped our organization take much needed steps to finally close our workshop. Their support helped us to make sure that every person had expanded opportunities and choices whether it be in employment, volunteer work or in choosing activities they want to participate in throughout their day. We would never have moved as quickly or as systematically if not for the support we received.”</p>
      <img src="/imgs/Susan_K.jpg" alt="Susan Klingel" class="float-right" />

      <p>
    -Susan Klingel, Executive Director<br> Arc of Madison County</p></blockquote>
    <p class="clearfix"></p>
    </div>
</div>


<section class="bg-blue" id="expertise">
  <div class="container" >
    <!-- Example row of columns -->
    <h2>AREAS OF EXPERTISE</h2>
    <div class="row">

      <div class="col-md">
        {% include teaser_vr.html %}
      </div>
      <div class="col-md">
        {% include teaser_cb.html %}
      </div>
      <div class="col-md">
        {% include teaser_at.html %}

      </div>
    </div>
    <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_ims.html %}

      </div>
      <div class="col-md">
        {% include teaser_tpd.html %}

      </div>
      <!--<div class="col-md">
        {% include teaser_ih.html %}
      </div>-->
    </div>

   
    <center>
        <h5 >Learn about our EXPERTS</h5>
       
        <a href="#experts"><i class="fas fa-5x fa-angle-double-down"></i> </a></center>
  </div> <!-- /container -->
</section>
<div class="testy">
    <div class="mx-auto" style="max-width: 600px;">
    <blockquote><p>“Working with the Institute for Community Inclusion was an essential element to our efforts to align services to improve consumer outcomes. The team was easy to work with and very experienced and knowledgeable. They understood what we were trying to do, and helped us create a strategic plan that was customized to our unique needs. They also provided resources to help us achieve the goals of the strategic plan. Throughout, we felt we had a partner that supported our efforts by providing expert consulting.”</p>
      <img src="/imgs/Walker.1.jpg" alt="Kyle J Walker" class="float-right" />
        <p>-Kyle J. Walker, Division Director<br>
        South Carolina Commission for the Blind
        </p></blockquote>
        <p class="clearfix"></p>
    </div>
</div>
<section id="experts">

  <div class="container" id="experts">
    <h2>EXPERTS</h2>
    <div class="row">

      <div class="col-md">
        {% include teaser_alvaro.html %}
      </div>

      <div class="col-md">
        {% include teaser_hoff.html %}
      </div>

      <div class="col-md">
        {% include teaser_jaimie.html %}
      </div>

    </div>
    <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_jeff.html %}
      </div>

      <div class="col-md">
        {% include teaser_jenn.html %}
      </div>

      <div class="col-md">
        {% include teaser_joe.html %}
      </div>

    </div>

    <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_john.html %}
      </div>

      <div class="col-md">
        {% include teaser_julisa.html %}
      </div>

      <div class="col-md">
        {% include teaser_linda.html %}
      </div>

    </div>

    <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_neil.html %}
      </div>

      <div class="col-md">
        {% include teaser_russ.html %}
      </div>

      <div class="col-md">
        {% include teaser_vito.html %}      </div>

    </div>
 <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_lara.html %}
      </div>

      <div class="col-md">
        {% include teaser_cee.html %}
      </div>

      <div class="col-md">
        {% include teaser_cindy.html %}      </div>

    </div>
 <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_melissa.html %}
      </div>

      <div class="col-md">
        {% include teaser_allison.html %}
      </div>

      <div class="col-md">
        {% include teaser_kelly.html %}      </div>

    </div>

  </div>

  

</section>

<div class="testy">
    <div class="mx-auto" style="max-width: 600px;">
    <blockquote><p>“The Arc of the Bay had the opportunity to work with the Institute for Community Inclusion and found the experience very valuable. Their strategic support and resources expanded our vision in our daily approach to inclusion within the workplace.”</p>
      <img src="/imgs/Ron_Sharpe.jpg" alt="Ron Sharpe" class="float-right" />

      <p>
    -Ron Sharpe, Executive Director<br> Arc of the Bay</p></blockquote>
    <p class="clearfix"></p>
    </div>
</div>