---
layout: front
---
<div class="jumbotron jumbotron-blue">
  <div class="container">
    <img src="/imgs/icisq.png" alt="ICI logo" class="float-left" style="padding-right:2em;">
    <h1 class="display-3">ICI CONSULTING </h1>
    <h3>Decades of problem-solving experience.</h3>
    <div class="clearfix"></div>
    <p class="lead">The Institute for Community Inclusion, or ICI, is nationally recognized for our research, technical
      assistance, training, and project development in the field of disability. Through ICI Consulting Services, you
      can access the full breadth and scope of our expertise. We tailor our resources to meet the needs of
      organizations like yours, so you can grow, thrive, and measure your progress.</p>




    <p>Learn more about:

      <a href="#process">Our Approach</a>
      |
      <a href="#expertise">Our Expertise</a>
      |
      <a href="#experts">Our Experts</a>







      <p>Ready to get started?<br>
        <a class="btn btn-primary btn-lg" href="#" role="button">Let’s talk! &raquo;</a></p>


  </div>
</div>

<section>
  <div class=" container" id="process">
  <h1>Our Approach</h1>
  <p>We tailor our resources to ensure you fulfill your organizations particular vision of meeting its mission:
    supporting and empowering people with disabilities. We’re here to help you grow, thrive, and measure your progress.</p>
  <img src="/imgs/star_JC.svg" class="float-right" style="max-width:400px;">

  <p>How do we fuel organizations to exceed expectations?</p>

  <p>Our approach is modeled after Kouzes and Posner’s Practices of Exemplary Leadership:1</p>


  <ul>
    <li><b>Challenge</b> current reality and identify objectives.</li>

    <li><b>Innovate</b> desired outcomes and plan development.</li>

    <li><b>Empower</b> and plan integration for change.</li>

    <li><b>Encourage</b> staying the course.</li>

    <li><b>Assess</b> outcomes to ensure continuous improvement.</li>
  </ul>
  Click on each point of the star graphic to learn more.

  <p>Our consultation services help you:</p>

 
  <p><b>Challenge</b> the status quo. Together, we’ll look critically at your organizational vision, mission,
    philosophical underpinnings, policy, and practice. We’ll determine what’s hindering your progress toward your
    goals.</p>

  <p><b>Innovate</b> a plan for desired outcomes. With our expert insights, you’ll establish how you want things to
    look and be, determining the best actions and next steps. What needs to happen for you to reach the culture you
    envision?</p>

  <p><b>Empower</b> to carry out the plan. Through participatory leadership, you’ll guide the change process,
    delegating to others, and allowing for innovation and problem solving at all levels. We’ll also prepare you to
    honor the new vision and values, and spread the message about them.</p>

  <p><b>Encourage</b> full engagement. We’ll show you how to involve all staff members in staying the course and
    keeping the plan a priority. This includes building communication feedback loops, reinforcing efforts, and
    celebrating successes.</p>

  <p><b>Assess</b> results. We’ll work with you to track meaningful elements and peripheral impacts to compare to
    desired outcomes. We’ll conduct a 360° evaluation, considering both quantitative and qualitative factors. This
    leads to your next challenge and even higher achievements.

    </div>
</section>

<section class="bg-blue">
  <div class="container" id="expertise">
    <!-- Example row of columns -->
    <h2>AREAS OF EXPERTISE</h2>
    <div class="row">

      <div class="col-md">
        {% include teaser_vr.html %}
      </div>
      <div class="col-md">
        {% include teaser_cb.html %}
      </div>
      <div class="col-md">
        {% include teaser_at.html %}

      </div>
    </div>
    <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_ims.html %}

      </div>
      <div class="col-md">
        {% include teaser_ihe.html %}

      </div>
      <div class="col-md">
        {% include teaser_ih.html %}
      </div>
    </div>

   

  </div> <!-- /container -->
</section>
<section>

  <div class="container" id="experts">
    <h2>EXPERTS</h2>
    <div class="row">

      <div class="col-md">
        {% include teaser_alvaro.html %}
      </div>

      <div class="col-md">
        {% include teaser_hoff.html %}
      </div>

      <div class="col-md">
        {% include teaser_jaimie.html %}
      </div>

    </div>
    <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_jeff.html %}
      </div>

      <div class="col-md">
        {% include teaser_jenn.html %}
      </div>

      <div class="col-md">
        {% include teaser_joe.html %}
      </div>

    </div>

    <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_john.html %}
      </div>

      <div class="col-md">
        {% include teaser_julisa.html %}
      </div>

      <div class="col-md">
        {% include teaser_linda.html %}
      </div>

    </div>

    <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_neil.html %}
      </div>

      <div class="col-md">
        {% include teaser_russ.html %}
      </div>

      <div class="col-md">
        {% include teaser_tom.html %}
      </div>

    </div>

    <p></p>
    <div class="row">

      <div class="col-md">
        {% include teaser_vito.html %}
      </div>

      <div class="col-md">
        
      </div>

      <div class="col-md">
       
      </div>

    </div>

  </div>

  

</section>