<footer class="footer container-fluid">
      <div class="region region-footer">
      <section id="block-block-1" class="block block-block clearfix">
  
        
    <div class="row footer-main">
  <div class="col-md">
  <div>
  <h2>Contacts</h2>
  </div>
  
  <address>Institute for Community Inclusion<br />
  UMass Boston<br />
  100 Morrissey Blvd.<br />
  Boston, Massachusetts 02125<br />
  Voice: (617) 287-4300<br />
  Fax: (617) 287-4352<br />
  TTY: (617) 287-4350<br />
  Email: <a href="mailto:thinkcollege@umb.edu">ici@umb.edu</a><br />
  &nbsp;</address>
  </div>
  
  <div class="col-md">

  </div>
  
  <div class="col-md">
     <img src="/imgs/ici_banner.png" class="img-fluid" alt="Institute for Community Inclusion">
  <div>
  <h2>About</h2>
  </div>
  
  <p>Think College is a national organization dedicated to developing, expanding, and improving inclusive higher education options for people with intellectual disability.</p>
  
  <div>
  <h2>Social</h2>
  <a href="https://www.facebook.com/thinkcollege/"><i class="fa fa-facebook-square fa-3x social" id="social-fb" data-original-title="Facebook" data-placement="top" data-toggle="tooltip">&nbsp;</i></a> 
  <a href="https://twitter.com/thinkcollegeICI"><i class="fa fa-twitter-square fa-3x social" id="social-tw" data-original-title="Twitter" data-placement="top" data-toggle="tooltip">&nbsp;</i></a>
   <a href="https://communityinclusion.github.io/tc-convos/"><i class="fa fa-slack fa-3x social" data-original-title="Slack Conversations" data-placement="top" data-toggle="tooltip" id="social-em" title="">&nbsp;</i></a>
  <a href="mailto:thinkcollege@umb.edu"><i class="fa fa-envelope-square fa-3x social" id="social-em" data-original-title="Contact" data-placement="top" data-toggle="tooltip">&nbsp;</i></a></div>
  </div>
  </div>
  
  </section>
  <section id="block-block-3" class="block block-block clearfix">
  
        
    <div class="row copyright">
  <div class="col-lg-3 col-md-12">
  <p><a href="http://communityinclusion.org" style="text-decoration:underlined;"><img alt="Institute for Community Inclusion and UMass Boston" class="img-fluid" src="/sites/default/files/files/images/combo_logo%20%281%29.png" /></a></p>
  </div>
  
  <div class="col-lg-5 col-md-12">&nbsp;
  <p>©2018&nbsp;<a href="http://communityinclusion.org">Institute for Community Inclusion</a> at the University of Massachusetts Boston.</p>
  </div>
  
  <div class="col-lg-4 col-md-12"><br />
  <a href="/about/what-is-think-college">ABOUT</a>&nbsp; | &nbsp;<a href="/accessibility-statement">ACCESSIBILITY</a>&nbsp; | &nbsp;<a href="/about/contact-us">CONTACT</a></div>
  </div>
  
  </section>
    </div>
  </footer>
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" ></script>
    <script src="/js/ici.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>