<footer class="footer ">
  <div class="container">
  <div class="row">
    <div class="col-md">   
        <form name="contact" method="POST" data-netlify="true">
          <h2>Talk to us</h2>
            

            <p>
              <label>Your Name: <br><input type="text" name="name" /></label>   
            </p>
            <p>
              <label>Your Email: <br><input type="email" name="email" /></label>
            </p>
            <p>
              <label>Message: <br><textarea name="message"></textarea></label>
            </p>
            <p>
              <button type="submit">Send</button>
            </p>
          </form>
        
    </div>


      <div class="col-md">   
          <p><img src="/imgs/ici_banner.png" class="img-fluid" alt="Institute for Community Inclusion"></p>
          <p><a href="">ABOUT</a>&nbsp; | &nbsp;<a href="/">ACCESSIBILITY</a>&nbsp; | &nbsp;<a href="">CONTACT</a></p>
          <p>©1992-<script>document.write(new Date().getFullYear())</script>.<a href="http://communityinclusion.org">Institute for Community Inclusion</a> at the University of Massachusetts Boston.</p>
          <address>Institute for Community Inclusion<br />
            UMass Boston<br />
            100 Morrissey Blvd.<br />
            Boston, Massachusetts 02125<br /></address>
            Voice: (617) 287-4300<br />
            Fax: (617) 287-4352<br />
            TTY: (617) 287-4350<br />
            Email: <a href="mailto:thinkcollege@umb.edu">ici@umb.edu</a><br />
        </div>
  </div>
</div>
</footer>
  
 
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" ></script>
    <script src="/js/ici.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>