<div class="card">

    <div class="card-body">
        <a href="/julisa/">
            <h5>Julisa Cully, MEd
                </h5>
            <center>
                <a href="/julisa/"><img class="rounded smiles" src="/imgs/JulisaCully_300x350.jpg" alt="Julisa Cully"></a> </center>
        </a>

        <p class="card-text">Expertise: Vocational Rehabilitation, Program Development and Management, Research, Knowledge Translation, TANF/Social Welfare, Mental Health Services and Systems

            </p>

    </div>
</div>