<a href="/jenn/" class="card cardp">

    <div class="card-body">
        
            <h5>Jennifer Sulewski, PhD</h5>
            <center>
                <img class="rounded smiles" src="/imgs/j sulewski_300x350.jpg" alt="Jennifer Sulewski."> </center>
     

        <p class="card-text">Expertise: Community Life Engagement, Program Evaluation, Research Methods, Employment Services Outcomes Data, Employment Policy and Practices, Organizational Change and State Systems Change, Transition from School to Adult Life, Inclusive Higher Education
</p>

    </div>
</a>