<div class="card">

    <div class="card-body">
        <a href="/vito/">
            <h5>Vito J. DeSantis, MPA</h5>
            <center>
                <a href="/vito/"><img class="rounded smiles" src="/imgs/VitoDeSantis_300x350.jpg" alt="vito."></a> </center>
        </a>

        <p class="card-text">Expertise: Vocational Rehabilitation, Services and Programs for People Who Are Blind/Visually Impaired, Program Management, Technology and Service Provision, Technical Assistance


            </p>

    </div>
</div>