<a href="/cee/" class="card cardp">

    <div class="card-body">
      
            <h5>Cecilia Gandolfo, MSEd, CESP</h5>
            <center>
                <img class="rounded smiles" src="/imgs/Cee.jpg" alt="Cecilia Gandolfo, MSEd, CESP"> </center>
       

        <p class="card-text">Expertise: Business Engagement, Employer Relationships, and Employer Training

Employment Services

Vocational Rehabilitation and Provider Agencies

Curriculum Development, Competency-based Training, and Facilitation

Inclusion of people with disabilities in mainstream settings

Progressive Employment
            </p>

    </div>
</a>