<div class="card">

    <div class="card-body">
        <a href="/neil/">
            <h5>Neil McNeil, MA </h5>
            <center>
                <a href="/neil/"><img class="rounded smiles" src="/imgs/NeilMcNeil_300x350.jpg" alt="Neil McNeil."></a> </center>
        </a>

        <p class="card-text">Expertise: Vocational Rehabilitation (VR), VR Field Office Operations, Leading Change, Process and Service Innovations, Systems Thinking and Organizational Learning, Building Collaborative Partnerships

            </p>

    </div>
</div>