<div class="card cardp">

    <div class="card-body">
        <a href="/tom/">
            <h5>Tom Sannicandro, MPA, JD, PhD</h5>
            <center>
                <a href="/tom/"><img class="rounded smiles" src="/imgs/Sannicandro1.jpg" alt="Tom Sannicandro."></a> </center>
        </a>

        <p class="card-text">Expertise: State and National Disability Policy, Influencing State Policy, Special Education Law and Policy, Transition, Postsecondary Education and Employment, Business and Community Relations 
</p>

    </div>
</div>