<div class="card cardp">

    <div class="card-body">
        <a href="/jaimie/">
            <h5>Jaimie Timmons, MSW</h5>
            <center>
                <a href="/jaimie/"><img class="rounded smiles" src="/imgs/Jaimie Timmons_300x350.jpg" alt="Jaimie Timmons."></a> </center>
        </a>

        <p class="card-text">Expertise: Provider Transformation, Community Life Engagement, Research Methods, Employment Policy and Practices for People with Disabilities, Organizational Change and State Systems Change, Transition from School to Adult Life

</p>

    </div>
</div>