<div class="card">

    <div class="card-body">
        <a href="/linda/">
            <h5>Linda Mock, MS</h5>
            <center>
                <a href="/linda/"><img class="rounded smiles" src="/imgs/linda-mock-300x300.jpg" alt="Linda Mock."></a> </center>
        </a>

        <p class="card-text">Expertise: Vocational Rehabilitation, Transition, Special Education, Business Engagement, Policy Development, Progressive Employment, Specialized Services for People Who Are Blind/Visually Impaired
</p>

    </div>
</div>