<a href="/neil/" class="card cardp">

    <div class="card-body">
        
            <h5>Neil McNeil, MA </h5>
            <center>
                <img class="rounded smiles" src="/imgs/NeilMcNeil_300x350.jpg" alt="Neil McNeil."> </center>
       

        <p class="card-text">Expertise: Vocational Rehabilitation (VR), VR Field Office Operations, Leading Change, Process and Service Innovations, Systems Thinking and Organizational Learning, Building Collaborative Partnerships

            </p>

    </div>
</a>