<div class="card cardp">

    <div class="card-body">
        <a href="/joe/">
            <h5>Joseph A. Marrone, MEd</h5>
            <center>
                <a href="/joe/"><img class="rounded smiles" src="/imgs/JoeMarrone_300x350.jpg" alt="Joe Marrone."></a> </center>
        </a>

        <p class="card-text">Expertise: Vocational Rehabilitation, Policy/Program Design of Employment Services, Workplace Supports, Psychiatric Rehabilitation, Program Management, Quality Assurance, Workforce Development, Welfare to Work
            </p>

    </div>
</div>