<div class="card">

    <div class="card-body">
        <a href="/jenn/">
            <h5>Jennifer Sulewski, PhD</h5>
            <center>
                <a href="/jenn/"><img class="rounded smiles" src="/imgs/j sulewski_300x350.jpg" alt="Jennifer Sulewski."></a> </center>
        </a>

        <p class="card-text">Expertise: Community Life Engagement, Program Evaluation, Research Methods, Employment Services Outcomes Data, Employment Policy and Practices for People with Disabilities, Organizational Change and State Systems Change, Transition from School to Adult Life, Inclusive Higher Education
</p>

    </div>
</div>